body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

a.cover img{
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
    width: auto;
    height : 200px;
    max-height: 100%;
    max-width: 100%;

}

table.reviews p, h3{
    padding-left: 5px;
}


a.photo img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}

img.icon {
    width: auto;
    height : 80px;
    max-height: 100%;
    max-width: 100%;
}

.list-noborder {
    border: 0px !important;
    border: 0px !important;
}
